<div class="row animated fadeIn fast">
  <div class="col-md-4">

    <img [src]="dog" class="img-fluid">
    <br>
    <br>
    <a [routerLink]="['/perros']" class="btn btn-outline-danger btn-block">Regresar</a>
  </div>
  <div class="col-md-8">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem ipsum, pulvinar a urna porttitor,
       malesuada feugiat justo. Sed rutrum, velit vel ultricies molestie, quam massa bibendum dui, a fermentum 
       purus libero eu nisi. Sed nec metus suscipit, viverra lacus eget, eleifend nibh. Duis commodo
       justo ipsum, et aliquet magna lobortis sit amet. Sed vitae mollis nisi, id tincidunt magna.
       Pellentesque lacinia cursus erat id vehicula. Sed non risus nunc. Aenean sit amet cursus justo.
       Nulla eleifend sit amet libero sed tincidunt. Praesent eleifend lorem sed eleifend tincidunt.
       Suspendisse tincidunt odio eu purus maximus, nec pharetra nulla mollis. Ut eget finibus mi.
       Fusce malesuada ornare nibh, vitae scelerisque libero egestas sed. Aliquam arcu risus,
       ullamcorper in leo quis, vestibulum elementum ex. Aliquam dictum imperdiet bibendum.</p>
    <div>
    </div>
  </div>
</div>

